 /* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* extra small */
@media (max-width: 369.98px){
    #navber{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: .7s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navber.active{
        height: calc(100vh - 50px);
        bottom: 0;
        width: 100%;
    }
    #navber ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        border-radius: 5px;
    }
    #navber ul li a{
        background: #1a1a1a;
        padding: 0px 80px;
        margin: 3px 29px 3px 0px;
        border-radius: 10px;
        font-size: 16px; 
      }
      #navber ul li a:hover{
          color: #ffffff;
          background-color: #f78e4c;
      }
    .logo h1{
        font-size: 32px;
        padding-left: 30px;
    }
    #toggle{
        right: 30px;
    }
    .user img{
        height: 155px;
        width: 155px;
        line-height: 155px;
        margin-bottom: 9px;
    }
    #home{
        padding: 90px 0px 0px 0px;
    }
    #home h3{
        font-size: 22px;
    }
    #home h1{
        font-size: 26px;
    }
    #home span{
        font-size: 26px;
    }
    #home p{
        font-size: 15px;
        line-height: 28px;
    }
    #home a{
        font-size: 16px;
        padding: 8px 50px;
    }
    #about h1{
        font-size: 26px;
    }
    .about-heading span{
        font-size: 26px;
    }
    .about-text h4{
        font-weight: 600;
        font-size: 20px;
    }
    .about-text h4 span{
        font-weight: 600;
        font-size: 20px;
    }
    .about-text h5{
        font-size: 16px;
       padding: 4px 0px 0px 0px;
    }
    .about-text p{
        font-size: 15px;
    }
    .about-text a{
        font-size: 16px;
        padding: 8px 70px;
        margin-bottom: 25px;
    }
    .about-box{
        padding: 17px 3px;
        margin-bottom: 18px;
    }
    .about-box span{
        font-weight: 600;
        font-size: 22px;
    }
    .about-box h3{
        font-weight: 400;
        font-size: 11px;
        padding: 10px 0px;
    }
    .skill h3{
        font-size: 20px;
    }
    .skill span{
        font-size: 20px;
    }
    .skill-item p{
        font-size: 14px;
    }
    #education h1{
        font-size: 26px;
    }
    .education-heading span{
        font-size: 26px;
    }
    .graduation-icon{
        height: 38px;
        width: 38px;
        line-height: 38px;
        font-size: 23px;
    }
    .graduation-box h5{
        font-size: 18px;
        padding: 8px 0px;
    }
    .graduation-box{
        padding: 20px 5px;
        margin-bottom: 20px;
    }
    .graduation-box h3{
        font-size: 19px;
    }
    .graduation-box p{
        font-size: 15px;
    }
    #potfolio h1{
        font-size: 26px;
    }
    .potfolio-heading span{
        font-size: 26px;
    }
    #service h1{
        font-size: 26px;
    }
    .service-heading span{
        font-size: 26px;
    }
    .service-box{
        padding: 25px 10px;
    }
    .service-box h5{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .service-box-icon{
        font-size: 32px;
    }
    .service-box-icon:hover{
        font-size: 37px;
    }
    #contact h1{
        font-size: 26px;
    }
    .contact-heading span{
        font-size: 26px;
    }
    #contact h2{
        font-size: 22px;
        padding: 5px 0px;
    }
    .contact-icon{
        font-size: 15px;
        margin: 13px 0px;
    }
    .contact-item-text{
        font-size: 15px;
        margin: 10px 0px;
    }
    ::placeholder {
        font-size: 13px !important;
      }
      .contact-right-side a{
        font-size: 16px;
        padding: 8px 40px;
      }
      .footer-icon a{
        font-size: 18px;
        padding: 0px 8px 10px 8px ;
    }
    .footer-text p{
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}
/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (min-width: 370px) and (max-width: 575.98px) { 
    #navber{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: .7s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navber.active{
        height: calc(100vh - 50px);
        bottom: 0;
        width: 100%;
    }
    #navber ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        border-radius: 5px;
    }
    #navber ul li a{
        background: #1a1a1a;
        padding: 0px 95px;
        margin: 4px 29px 4px 0px;
        border-radius: 10px;
        font-size: 17px; 
      }
      #navber ul li a:hover{
          color: #ffffff;
          background-color: #f78e4c;
      }
    .logo h1{
        font-size: 34px;
        padding-left: 30px;
    }
    #toggle{
        right: 30px;
    }
    .user img{
        height: 155px;
        width: 155px;
        line-height: 155px;
        margin-bottom: 8px;
    }
    #home{
        padding: 95px 0px 0px 0px;
    }
    #home h3{
        font-size: 22px;
    }
    #home h1{
        font-size: 31px;
    }
    #home span{
        font-size: 31px;
    }
    #home p{
        font-size: 17px;
        line-height: 28px;
    }
    #home a{
        font-size: 16px;
        padding: 8px 70px;
    }
    #about h1{
        font-size: 32px;
    }
    .about-heading span{
        font-size: 32px;
    }
    .about-text h4{
        font-weight: 600;
        font-size: 25px;
    }
    .about-text h4 span{
        font-weight: 600;
        font-size: 25px;
    }
    .about-text h5{
        font-size: 20px;
       padding: 4px 0px 0px 0px;
    }
    .about-text p{
        font-size: 16px;
    }
    .about-text a{
        font-size: 17px;
        padding: 8px 70px;
        margin-bottom: 25px;
    }
    .about-box{
        padding: 17px 3px;
        margin-bottom: 18px;
    }
    .about-box span{
        font-weight: 600;
        font-size: 24px;
    }
    .about-box h3{
        font-weight: 600;
        font-size: 13px;
        padding: 10px 0px;
    }
    .skill h3{
        font-size: 22px;
    }
    .skill span{
        font-size: 22px;
    }
    .skill-item p{
        font-size: 15px;
    }
    #education h1{
        font-size: 32px;
    }
    .education-heading span{
        font-size: 32px;
    }
    .graduation-icon{
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 23px;
    }
    .graduation-box h5{
        font-size: 19px;
        padding: 8px 0px;
    }
    .graduation-box{
        padding: 20px 5px;
    }
    .graduation-box h3{
        font-size: 20px;
    }
    .graduation-box p{
        font-size: 16px;
    }
    #potfolio h1{
        font-size: 32px;
    }
    .potfolio-heading span{
        font-size: 32px;
    }
    #service h1{
        font-size: 32px;
    }
    .service-heading span{
        font-size: 32px;
    }
    .service-box{
        padding: 25px 10px;
    }
    .service-box h5{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .service-box-icon{
        font-size: 33px;
    }
    .service-box-icon:hover{
        font-size: 38px;
    }
    #contact h1{
        font-size: 32px;
    }
    .contact-heading span{
        font-size: 32px;
    }
    #contact h2 {
        font-size: 24px;
        padding: 10px 0px 20px 0px;
        text-align: left;
        margin-left: 77px;
    }
    .contact-icon{
        font-size: 16px;
        margin: 13px 0px;
    }
    .contact-item-text{
        font-size: 16px;
        margin: 10px 0px;
    }
    ::placeholder {
        font-size: 14px !important;
      }
      .contact-right-side a{
        font-size: 17px;
        padding: 8px 40px;
      }
      .footer-icon a{
        font-size: 20px;
        padding: 0px 8px 10px 8px ;
    }
    .footer-text p{
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
 } 
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #navber{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: .7s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navber.active{
        height: calc(100vh - 50px);
        bottom: 0;
        width: 100%;
    }
    #navber ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        border-radius: 5px;
    }
    #navber ul li a{
        background: #1a1a1a;
        padding: 0px 160px;
        margin: 4px 29px 4px 0px;
        border-radius: 10px; 
      }
      #navber ul li a:hover{
          color: #ffffff;
          background-color: #f78e4c;
      }
    .logo h1{
        font-size: 34px;
        padding-left: 30px;
    }
    #toggle{
        right: 30px;
    }
    .user img{
        height: 165px;
        width: 165px;
        line-height: 165px;
        margin-bottom: 10px;
    }
     #home{
        padding: 100px 0px 0px 0px;
    }
    #home h3{
        font-size: 22px;
    }
    #home h1{
        font-size: 38px;
    }
    #home span{
        font-size: 38px;
    }
    #home p{
        font-size: 16px;
    }
    #home a{
        font-size: 16px;
        padding: 7px 70px;
    }
    #about{
        padding: 80px 0px 0px 0px;
    }
    #about h1{
        font-size: 38px;
    }
    .about-heading span{
        font-size: 38px;
    }
    .about-text h4{
        font-weight: 600;
        font-size: 28px;
    }
    .about-text h4 span{
        font-weight: 600;
        font-size: 28px;
    }
    .about-text h5{
        font-size: 22px;
       padding: 4px 0px 0px 0px;
    }
    .about-text p{
        font-size: 18px;
    }
    .about-text a{
        font-size: 16px;
        padding: 7px 70px;
        margin-bottom: 25px;
    }
    .about-box{
        padding: 17px 10px;
        margin-bottom: 17px;
    }
    .about-box span{
        font-weight: 600;
        font-size: 24px;
    }
    .about-box h3{
        font-weight: 600;
        font-size: 17px;
        padding: 10px 0px;
    }
    .skill h3{
        font-size: 25px;
    }
    .skill span{
        font-size: 25px;
    }
    .skill-item p{
        font-size: 16px;
    }
    #education{
        padding: 80px 0px 0px 0px;
    }
    #education h1{
        font-size: 38px;
    }
    .education-heading span{
        font-size: 38px;
    }
    .graduation-icon{
        height: 38px;
        width: 38px;
        line-height: 38px;
        font-size: 23px;
    }
    .graduation-box h5{
        font-size: 20px;
        padding: 8px 0px;
    }
    .graduation-box{
        padding: 20px 5px;
    }
    .graduation-box h3{
        font-size: 20px;
    }
    .graduation-box p{
        font-size: 16px;
    }
    #potfolio h1{
        font-size: 38px;
    }
    .potfolio-heading span{
        font-size: 38px;
    }
    #service h1{
        font-size: 38px;
    }
    .service-heading span{
        font-size: 38px;
    }
    .service-box{
        padding: 20px 5px;
    }
    .service-box h5{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .service-box-icon{
        font-size: 35px;
    }
    .service-box-icon:hover{
        font-size: 40px;
    }
    #contact h1{
        font-size: 38px;
    }
    .contact-heading span{
        font-size: 38px;
    }
    #contact h2 {
        font-size: 28px;
        padding: 0px 0px 20px 0px;
        text-align: left;
        margin-left: 18px;
    }
    .contact-icon{
        font-size: 16px;
        margin: 13px 0px;
    }
    .contact-item-text{
        font-size: 16px;
        margin: 10px 0px;
    }
    ::placeholder {
        font-size: 14px !important;
      }
      .contact-right-side a{
        font-size: 16px;
        padding: 8px 40px;
      }
      .footer-icon a{
        font-size: 20px;
        padding: 0px 8px 10px 8px ;
    }
    .footer-text p{
        font-size: 15px;
    }
}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .logo h1{
        font-size: 34px;
        padding-left: 15px;
    }
    #navber.active{
        width: 648px;
    }
    #toggle{
        top: 5px;
        right: 15px;
        width: 40px;
        height: 40px;
    }
    #home h3{
        font-size: 24px;
    }
    #home h1{
        font-size: 42px;
    }
    #home span{
        font-size: 42px;
    }
    #home p{
        font-size: 17px;
    }
    #home a{
        font-size: 17px;
        padding: 7px 70px;
    }
    #about h1{
        font-size: 42px;
    }
    .about-heading span{
        font-size: 42px;
    }
    .about-text h4{
        font-weight: 600;
        font-size: 29px;
    }
    .about-text h4 span{
        font-weight: 600;
        font-size: 29px;
    }
    .about-text h5{
        font-size: 23px;
    }
    .about-text p{
        font-size: 17px;
    }
    .about-text a{
        font-size: 17px;
        padding: 7px 70px;
    }
    .about-box{
        padding: 17px 3px;
        margin-bottom: 15px;
    }
    .about-box span{
        font-weight: 600;
        font-size: 22px;
    }
    .about-box h3{
        font-weight: 400;
        font-size: 15px;
    }
    .skill h3{
        font-size: 28px;
    }
    .skill span{
        font-size: 28px;
    }
    .skill-item p{
        font-size: 17px;
    }
    #education h1{
        font-size: 42px;
    }
    .education-heading span{
        font-size: 42px;
    }
    .graduation-icon{
        height: 48px;
        width: 48px;
        line-height: 48px;
        font-size: 26px;
    }
    .graduation-box{
        padding: 20px 6px;
    }
    .graduation-box h3{
        font-size: 22px;
    }
    .graduation-box p{
        font-size: 17px;
    }
    #potfolio h1{
        font-size: 42px;
    }
    .potfolio-heading span{
        font-size: 42px;
    }
    #service h1{
        font-size: 42px;
    }
    .service-heading span{
        font-size: 42px;
    }
    .service-box{
        padding: 20px 5px;
    }
    .service-box h5{
        font-size: 23px;
        margin-bottom: 35px;
    }
    .service-box-icon{
        font-size: 40px;
    }
    .service-box-icon:hover{
        font-size: 45px;
    }
    #contact h1{
        font-size: 42px;
    }
    .contact-heading span{
        font-size: 42px;
    }
    #contact h2 {
        font-size: 32px;
        padding: 10px 0px 20px 0px;
        text-align: left;
        margin-left: 20px;
    }
    .contact-icon{
        font-size: 18px;
        margin: 13px 0px;
    }
    .contact-item-text{
        font-size: 17px;
        margin: 10px 0px;
    }
    ::placeholder {
        font-size: 16px !important;
      }
      .contact-right-side a{
        font-size: 17px;
        padding: 8px 40px;
      }
      .footer-icon a{
        font-size: 22px;
        padding: 0px 10px 10px 10px ;
    }
 }
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
    .about-box{
        padding: 25px 17px;
        margin-bottom: 20px;
    }
    .about-box span{
        font-weight: 700;
        font-size: 22px;
    }
    .about-box h3{
        font-weight: 600;
        font-size: 18px;
    }
    #contact h2 {
        padding: 10px 0px 20px 0px;
        text-align: left;
        margin-left: 25px;
    }
}
 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

    .about-box h3{
        font-size: 20px;
    }
    .user img{
        height: 185px;
        width: 185px;
        line-height: 185px;
    }
    #contact h2 {
        padding: 10px 0px 20px 0px;
        text-align: left;
        margin-left: 30px;
    }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .user img{
        height: 185px;
        width: 185px;
        line-height: 185px;
    }
    #contact h2 {
        padding: 10px 0px 20px 0px;
        text-align: left;
        margin-left: 40px;
    }
}
