

body{
    margin: 0;
    padding: 0;
    background: #111;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
ul{
 list-style: none;
}
a{
    text-decoration: none;
}
/* Navbar start*/
header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #111;
    box-shadow: 0 5px 25px rgb(230, 227, 227,0.07);
    z-index: 9999;
}
.logo h1{
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #f78e4c;
    height: 50px;
    line-height: 55px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
#toggle{
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggle::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #f78e4c;
    transform: translateY(-5px);
    transition: .3s;
}
#toggle::after{
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #f78e4c;
    transform: translateY(5px);
    transition: .3s;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#navber{
    position: relative;
    height: 50px;
    right: 80px;
    transition: .8s;
    width: 0px;
    overflow: hidden;
}
#navber.active{
    width: 679px;
}
#navber ul{
    position: relative;
    display: flex;
    flex-direction: row;
}
#navber ul li a{
    height: 50px;
    line-height: 50px;
    color: #f78e4c;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 8px;
    text-transform: uppercase;
    text-decoration: none;
}
#navber ul li a:hover{
    color: #ffffff;
}
/* Navbar end */

/* Header section css start */

.navber ul{
   list-style: none;
   padding: 0px 30px;
}
.navber ul li a{
   display: block;
   color: #ffffff;
   background: #333;
   font-family: 'Nunito', sans-serif;
   font-weight: 400;
   font-size: 18px;
   padding: 8px;
   margin: 10px 0px;
   border-radius: 15px;
 }
 .navber ul li a:hover{
    background: #f78e4c;
  }

/* Header section css end */

/* Home section css start */
#home{
    padding: 100px 0px 20px 0px;
}
.user{
    padding: 0px 0px;
    text-align: center;
}
.user img{
    height: 175px;
    width: 175px;
    line-height: 175px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid tomato;
}
#home h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #eceaeaf1;
}
#home h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #eceaeaf1;
}
#home span{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #f78e4c;
}
#home p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #eceaeaf1;
    padding: 15px 0px 0px 0px;
    margin-bottom: 0px;
}
#home a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background: #333;
    border-radius: 5px;
    padding: 8px 50px;
    margin-top: 35px;
}
#home a:hover{
    background-color: #f78e4c;
}
/* Home section css end */

/* About section css start */
#about{
    padding: 80px 0px 5px 0px;
}
#about h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #eceaeaf1;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 35px;
}
.about-heading span{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #f78e4c;
}
.about-heading {
    border-bottom: 1px solid #fff6;
}
.about-text h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #f78e4c;
   padding: 5px 0px;
}
.about-text h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #eceaeaf1;
   padding: 3px 0px 0px 0px;
}
.about-text h4 span{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #eceaeaf1;
}
.about-text p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #eceaeaf1;
    padding-bottom: 20px;
}
.about-text a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #eceaeaf1;
    background: #333;
    border-radius: 5px;
    padding: 8px 50px;
}
.about-text a:hover{
    background-color: #f78e4c;
}
.flex-dir{
    flex-direction: column-reverse;
}
.about-box{
    width: 100%;
    background: #222;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 25px;
}
.about-box span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f78e4c;
}
.about-box h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #eceaeaf1;
}
/* skill part */
.skill h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #eceaeaf1;
    padding: 20px 0px;
}
.skill span{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #f78e4c;
    padding: 20px 0px;
}
.skill-item p{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #eceaeaf1;
    margin: 10px 0px;
}
.skill-item-value{
    width: 100%;
    background-color: #b2b2b2;
}
.skills{
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    color: #f78e4c;
    background-color: #424242;
    position: relative;
    left: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
.html{
    width: 90%;
    animation: html 2s;
}
@keyframes html{
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
.css{
    width: 85%;
    animation: css 2s;
}
@keyframes css{
    from{
        width: 0%;
    }
    to{
        width: 85%;
    }
}
.bootstrap{
    width: 85%;
    animation: bootstrap 2s;
}
@keyframes bootstrap{
    from{
        width: 0%;
    }
    to{
        width: 85%;
    }
}
.js{
    width: 65%;
    animation: js 2s;
}
@keyframes js{
    from{
        width: 0%;
    }
    to{
        width: 65%;
    }
}
.jq{
    width: 60%;
    animation: jq 2s;
}
@keyframes jq{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}
.php{
    width: 65%;
    animation: php 2s;
}
@keyframes php{
    from{
        width: 0%;
    }
    to{
        width: 65%;
    }
}
.laravel{
    width: 50%;
    animation: laravel 2s;
}
@keyframes laravel{
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}
/* About section css end */

/* Education section css start */
#education{
    padding: 80px 0px 0px 0px;
}
#education h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #eceaeaf1;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 35px;
}
.education-heading span{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #f78e4c;
}
.education-heading {
    border-bottom: 1px solid #fff6;
}
.graduation-icon{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #f78e4c;
    font-size: 26px;
    color: #eceaeaf1;
    text-align: center;
}
.graduation-box{
    width: 100%;
    color: #eceaeaf1;
    background: #222;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 15px;
}
.graduation-box h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #eceaeaf1;
    background: #111;
    text-align: center;
    padding: 8px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.graduation-box h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #eceaeaf1;
    text-align: center;
    margin-bottom: 10px;
}
.graduation-box p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #eceaeaf1;
    text-align: center;
}
/* Education section css end */

/* Portfolio section css start */
#potfolio{
    padding: 80px 0px 0px 0px;
}
#potfolio h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #eceaeaf1;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 35px;
}
.potfolio-heading span{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #f78e4c;
}
.potfolio-heading {
    border-bottom: 1px solid #fff6;
}
.portfolio-img a img{
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* Portfolio section css end */

/* Service section css start */
#service{
    padding: 80px 0px 0px 0px;
}
#service h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #eceaeaf1;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 35px;
}
.service-heading span{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #f78e4c;
}
.service-heading {
    border-bottom: 1px solid #fff6;
}
.service-box{
    width: 100%;
    color: #eceaeaf1;
    background: #222;
    text-align: center;
    padding: 40px 10px;
    margin-bottom: 15px;
}
.service-box h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #eceaeaf1;
    background: #111;
    text-align: center;
    padding: 8px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.service-box-icon{
    font-size: 48px;
    color: #f78e4c;
}
.service-box-icon:hover{
    font-size: 53px;
    color: #eceaeaf1;
    transition: .3s all;
    cursor: pointer;
}
/* Service section css end */

/* Contact section css start */
#contact{
    padding: 80px 0px 0px 0px;
}
#contact h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #eceaeaf1;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 35px;
}
.contact-heading span{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #f78e4c;
}
.contact-heading {
    border-bottom: 1px solid #fff6;
}
/* Contact left */
#contact h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #eceaeaf1;
    text-align: center;
    padding: 50px 0px 20px 0px;
}
.contact-icon{
    font-size: 20px;
    color: #f78e4c;
    margin: 15px 0px;
}
.contact-item-text{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #eceaeaf1;
    margin: 10px 0px;
}
/* Contact right */
.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
    background-color: #222;
	background-clip: padding-box;
	border: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #eceaeaf1;
    background-color: #222;
	border-color: #222;
	outline: 0;
	box-shadow: none;
}
::placeholder {
    color: #eceaeaf1 !important;
    opacity: 1;
    font-size: 17px !important;
  }
.contact-right-side a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #eceaeaf1;
    padding: 8px 40px;
    background-color: #222;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .contact-right-side a:hover{
    background-color: #f78e4c;
  }
/* Contact section css end */

/* Footer section css start */
#footer{
    padding: 15px 0px;
    background-color: #222;
}
.footer-icon a{
    display: inline-block;
    font-size: 24px;
    color: #eceaeaf1;
    padding: 0px 15px 10px 15px ;
}
.footer-text p{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #eceaeaf1;
    text-align: center;
    margin-bottom: 0;
}
/* Footer section css end */

/* 
     font-family: 'Nunito', sans-serif;

    font-family: 'Roboto', sans-serif;
*/
